<section class="proyectos" id="proyectos">
    <h2> Proyectos</h2>
    <ul>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div>
                <h3>nombre proyecto</h3>
            </div>
            <div>
                <h4>fecha y descripcion <a href=""></a></h4>
            </div> <div><img src="" alt=""></div>
        </li>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div>
                <h3>nombre proyecto</h3>
            </div>
            <div>
                <h4>fecha y descripcion <a href=""></a></h4>
            </div> <div><img src="" alt=""></div>
        </li>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div>
                <h3>nombre proyecto</h3>
            </div>
            <div>
                <h4>fecha y descripcion <a href=""></a></h4>
            </div> <div><img src="" alt=""></div>
        </li>
    </ul>

</section>