/* HABILIDADES */

.habilidades {

    width: 100%;
    max-width: 100vw;
    min-height: calc(100vh - 80px);
    padding: 80px 13%;
    background-color:rgba(0, 0, 0, 0.08) ;
}

.titulo-skill {
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.titulo-skill h2 {
    margin-bottom: -5px;
}
.titulo-skill h2 span {
    color: orange;
}
.cont-skill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px ;
}
.cont-skill .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .info .porcent {
    font-weight: bold;

}
.skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span {
    width:50% ;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill-bar .bar .html {
    width: 90%;
    animation: html 3s;
}

@keyframes html {
    0% {
        width:0;
    }100%{
        width:90%;
    }
    
}
.skill-bar .bar .css {
    width: 85%;
    animation: css 3s;
}

@keyframes css {
    0% {
        width:0;
    }100%{
        width:85%;
    }
    
}
.skill-bar .bar .js {
    width: 80%;
    animation: js 3s;
}

@keyframes js {
    0% {
        width:0;
    }100%{
        width:80%;
    }
    
}
.skill-bar .bar .react {
    width: 70%;
    animation: react 3s;
}

@keyframes react {
    0% {
        width:0;
    }100%{
        width:70%;
    }
    
}
.skill-bar .bar .node {
    width: 70%;
    animation: node 3s;
}

@keyframes node {
    0% {
        width:0;
    }100%{
        width:70%;
    }
    
}
.skill-bar .bar .mongo {
    width: 65%;
    animation: mongo 3s;
}

@keyframes mongo {
    0% {
        width:0;
    }100%{
        width:65%;
    }
    
}
 /* media skills*/
@media screen and (max-width: 650px) {
    .cont-skill {
        grid-template-columns: 1fr;
    }

}


