<section class="experiencia" id="experiencia">
    <h2> Experiencia </h2>
    <ul>
        <li> <div class="logo_exp"> <img src="../../../../assets/images/logo_mc.png" alt=""></div> <div> <h3> Gerente</h3> <h4>2013 - 2015 Mc Donald&#39;s </h4></div></li>
        <li> <div class="logo_exp"> <img src="../../../../assets/images/logo_aliantec.png" alt=""></div> <div> <h3> Analista funcional</h3> <h4>2016-2018 Aliantec</h4></div></li>
        <li> <div class="logo_exp"> <img src="../../../../assets/images/logo_mer2.png" alt=""></div> <div> <h3> Desarrollador web Junior</h3> <h4> 2018-2022 Mercado Libre</h4></div></li>
    </ul>
</section>