
 /* proyectos */
   .proyectos {
    padding: 40px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-image: url(../../../../assets/images/fazul3.jpg);
   }

  .proyectos h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }
  .proyectos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 15px;
    place-items: center;
    background-color: rgba(162, 208, 245, 0.372);
    border-radius: 5px;
}

 .proyectos li {
    position: relative;
    padding: 20px;
    min-height: 160px;
    width: 80%;
    border-radius: 10px;
    border: solid 3px white;
   background-color: rgba(240, 248, 255, 0.568);
}
 
 .logo {
    height: 30px;
 }

.texto h4 {
   font-size: 22px;
 }
 

 @media screen and (max-width: 800px) {
    .proyectos ul {
        grid-template-columns: 1fr;
        grid-gap: 30px;
     }

 }