<section class="acercade" id="acercade">
    <div class="perfil"> 
        <div class="btn-edit" onclick="">
            <i class="fa-solid fa-pen"></i>
        </div>
        <img src="images/perfil1.jpg" alt="">
        <input type="file" accept="image/png, image/gif, image/jpeg">
        <input type="button" value="Cargar foto" id="btn_subir_fotoperfil" onclick="edit_foto()">
    </div>
    <div class="texto">
        <div class="btn-edit" onclick="cambiar_parrafo()">
                <i class="fa-solid fa-pen"></i>
        </div>
        <h1 id="text-acercade">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, commodi? Alias placeat deleniti officiis, tenetur vitae fugiat. Hic iure ab deserunt ullam, corrupti exercitationem enim at dolor debitis minima cumque.</h1>
        <div>
            <input id="edit-acercade" type="text" placeholder="Acerca de" oninput="myFunction2(this.value)" style="display:none">
        </div>
        <!-- <input type="file" id="file1" onchange="showFile(this)"> -->
    </div>
</section>