<section class="contacto" id="contacto">
    <div class="contenedor_form">
        <h2>Contacto</h2>
        <h3> Envía tu consulta ó escribí a etc@gmail.com </h3>
        
        <form class="formulario" name="contacto_valida" action="">
            <input type="text" name="nombre" placeholder="Nombre" maxlength="100">
            <input type="number" name= "telefono" placeholder="Telefono" maxlength="14">
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Mensaje" rows="6"></textarea>
            <div> <input class="envia_form" name="enviar" type="button" value="ENVIAR" onclick="valida_envia()"> </div>
        </form>
        <h4> Para más información llamanos al (011) 1234-5678 </h4>
    </div>

</section>