
 /* educacion*/
 .educacion {
    padding: 40px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-image: url(../../../../assets/images/fazul.jpg);
 }

 .educacion h2{
    font-size: 40px;
    color: beige;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .educacion ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 15px;
    place-items: center;
    border-radius: 3px;
 }

 .educacion li {
    padding: 20px;
    min-height: 160px;
    width: 80%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.568);
}
 
 .logo_edu img {
    height: 30px;
    margin-bottom: 15px;
 }

 .texto {
   color: rgb(6, 6, 52);
 }

 .texto h4 {
    font-size: 22px; 
 }
 

 @media screen and (max-width: 800px) {
    .educacion ul {
        grid-template-columns: 1fr;
        grid-gap: 30px;
     }

 }