.habilidades {
    position: relative;
    width: 100%;
    max-width: 100vw;
    min-height: calc(100vh - 80px);
    padding: 80px 13%;
    background-color: rgb(244, 226, 186);
    background-color: white;
}

.titulo-skill {
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.titulo-skill h2 {
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 35px;
}
.titulo-skill h2 span {
    color: green;
}
.cont-skill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px ;
}

.cont-skill .skill-bar .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .info .porcent {
    font-weight: bold;

}

 /* media skills*/
@media screen and (max-width: 650px) {
    .cont-skill {
        grid-template-columns: 1fr;
    }

}


