<section class="educacion" id="educacion">
    <h2> Educacion </h2>
    <ul>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div class="logo_edu">
                <img src="images/logo_normal.jpg" alt="">
            </div>
            <div>
                <h3> Secundario completo </h3>
                <h4>2008-2013 Escuela Normal Superior Nº 5 General Don "Martín Miguel de Güemes"</h4>
            </div>
        </li>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div class="logo_edu">
                <img src="images/logo_cam.png" alt="">
            </div>
            <div>
                <h3> Certificación Ingles B2 First</h3>
                <h4> 2014 Cambridge Assessment English</h4>
            </div>
        </li>
        <li>
            <div class="btn-edit-delete">
                <i class="edit fa-solid fa-pen"></i>
                <i class="delete fa-solid fa-xmark"></i>
            </div>
            <div class="logo_edu">
                <img src="images/logo_utn.png" alt="">
            </div>
            <div>
                <h3> Lic. en Sistemas de información</h3>
                <h4> En curso - Universidad Tecnologica Nacional</h4>
            </div>
        </li>
    </ul>
</section>