
<div class="experiencia" id="experiencia">
  <h2> Experiencia </h2>
    <div>
        <button class="btn-add" type="button" (click)="agregarBoton()" data-bs-toggle="modal"
                  data-bs-target="#expModal">
                  <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <ul>
            <li *ngFor="let item of menu_exp">
              <div class="btn-container">
                    <button (click)="editarBoton(item)" class="btn pl-3 pr-3 mx-2 btn-edit" data-bs-toggle="modal"
                            data-bs-target="#expModal">
                           <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                    <button (click)="eliminarBoton(item)" class="btn pl-3 btn-delete " data-bs-toggle="modal"
                           data-bs-target="#expModal">
                          <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
              </div>
              
              <div class="logo_exp"> <img [src]="item.url_logo" alt="">
              </div>
              <div class="texto">
                <h3> {{item.puesto}}  </h3>
                <h4>  {{item.inicio}} - {{item.fin}} </h4>
                <h4>  {{item.nombre_emp_lugar}} </h4>
              </div>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="expModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" *ngIf="showTituloAgregar" >Agregar</h5>
          <h5 class="modal-title text-primary" *ngIf="showTituloEditar" >Actualizar</h5>
          <h5 class="modal-title text-primary" *ngIf="showEliminar">Atención</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
  
        </div>
        <div class="modal-body" *ngIf=" showAgregar || showEditar">
          <form [formGroup]="formValueExp">
  
            <input type="hidden" name="id" formControlName="id">
            <div>
              <label for="puesto" class="form-label">Puesto</label>
              <input type="text" class="form-control" id="puesto" formControlName="puesto">
            </div>
            <div>
              <label for="inicio" class="form-label">Fecha de Ingreso </label>
              <input type="text" class="form-control" id="inicio" formControlName="inicio">
            </div>
            <div>
              <label for="fin" class="form-label"> Fecha de Egreso </label>
              <input type="text" class="form-control" id="fin" formControlName="fin">
            </div>
            <div>
              <label for="nombre_emp_lugar" class="form-label"> Empresa / Lugar de trabajo </label>
              <input type="text" class="form-control" id="nombre_emp_lugar" formControlName="nombre_emp_lugar">
            </div>
            <div>
              <label for="url_logo" class="form-label"> URL_LOGO </label>
              <input type="text" class="form-control" id="url_logo" formControlName="url_logo">
            </div>
  
          </form>
        </div>
        <div class="modal-body" *ngIf="showEliminar">
          ¿Esta seguro que desea eliminar el elemento seleccionado?
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" *ngIf="showAgregar" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarExp()">Guardar</button>
          <button type="submit" *ngIf="showEditar" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarExp()">Guardar</button>
          <button type="submit" *ngIf="showEliminar" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarExp()">Eliminar</button>
  
        </div>
      </div>
    </div> 
  </div>