
 /* experiencia */
 .experiencia {
    padding: 40px;
    min-height: calc(100vh - 80px);
    background-image: url(../../../../assets/images/fbeige.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
 }

 .experiencia h2 {
    font-size: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(7, 78, 7);
 }
 .experiencia ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 15px;
    place-items: center;
    background-image: url(../../../../assets/images/fverde2.jpg);
    border-radius: 5px;
 }

 .experiencia li {
    position: relative;
    padding: 20px;
    min-height: 160px;
    border-radius: 10px;
    border: solid 3px;
    border-color: beige;
    background-color: rgba(245, 245, 220, 0.53);
    width: 80%;
}
 
 .logo_exp img {
    height: 30px;
    margin-bottom: 15px;
 }

 .experiencia .texto h4 {
   font-size: 22px;
 }
 

 @media screen and (max-width: 800px) {
    .experiencia ul {
        grid-template-columns: 1fr;
        grid-gap: 30px;
     }

 }