<button class="btn_scrolltop" *ngIf="showButton" (click)="onScrollTop()">
    <i class="fa-solid fa-chevron-up"></i>
 </button>
 
 
 <footer class="pie_pagina">
    <div class="box">
        <h4> Contacto </h4>
        <ul>
            <li><i class="fa-solid fa-phone"> 1123456789</i></li>
            <li><i class="fa-regular fa-envelope"> etc@gmail.com</i></li>
            <li><i class="fa-regular fa-envelope"> etc2@gmail.com</i></li>
        </ul>
    </div>
    <div class="box">
        <h4> Redes</h4>
        <ul>
            <li> <a href=""> <img src="../../../../assets/images/logo_in.png" alt=""> <p> Red 1</p></a> </li>
            <li> <a href=""> <img src="../../../../assets/images/logo_github.png" alt=""> <p> Red 2</p></a> </li>
            <li> <a href=""> <img src="../../../../assets/images/logo_fb.png" alt=""> <p> Red 3</p></a> </li>
        </ul>
    </div>

 </footer>