<header class="header">
    <nav class="navbar">
        <div class="logo"> <a routerLink="/"><img src="../../../../assets/images/logoap2.png" alt=""></a></div>
        <ul class="nav_items">
            <li class="nlink" *ngFor="let item of menu"><a [routerLink]="">{{item.name}}</a></li>
            <!-- <li><a class="nlink" href="#experiencia">Experiencia</a></li>
            <li><a class="nlink" href="#educacion">Educacion</a></li>
            <li><a class="nlink" href="#habilidades">Habilidades</a></li>
            <li><a class="nlink" href="#proyectos">Proyectos</a></li>
            <li><a class="nlink" href="#contacto">Contacto</a></li> -->
        </ul>
        <div class="cont_btn">
            <!-- <span class="btn_login"> <a href="login.html"> Login</a></span> -->
            <span class="btn_login">
                <a *ngIf="usuario ; else tplNoUser" (click)="cerrarSesion()">LOGOUT</a>
            </span>
            <ng-template #tplNoUser>
                <span class="btn_login">
                    <a [routerLink]="['/','auth','login']">LOGIN</a>
                </span>
                
            </ng-template>
            
            <!-- <span class="btn_menu"> <i class="fa-solid fa-bars"></i></span>  -->
            <fa-icon  [icon]="faBars" (click)="showMenu()"></fa-icon>

        </div>
        
    </nav>   
</header>
