<header class="header">
    <nav class="navbar">
        <div class="logo"> <a routerLink="/"><img src="../../../../assets/images/logoap2.png" alt=""></a></div>
        <ul class="nav_items">
            <li class="nlink" *ngFor="let item of menu"><a routerLink={{item.router}}>{{item.name}}</a></li>
        </ul>
        <div class="cont_btn">
            <span class="btn_logout">
                <a *ngIf="usuario ; else tplNoUsuario" (click)="cerrarSesion()" >CERRAR SESION</a>
            </span>
            <ng-template #tplNoUsuario>
                <span class="btn_login">
                    <a [routerLink]="['/','auth','login']">LOGIN</a>
                </span>
                
            </ng-template>
            <fa-icon  [icon]="faBars" (click)="showMenu()"></fa-icon>

        </div>
        
    </nav>   
</header>
