<section class="proyectos" id="proyectos">
    <h2> Proyectos</h2>
    <div>
        <button type="button" class="btn-add" (click)="agregarBoton()" data-bs-toggle="modal"
                  data-bs-target="#proyModal">
        <fa-icon [icon]="faPlusEdu"></fa-icon>
        </button>
        <ul>
            <li *ngFor="let item of menu_proy">
              <div class="btn-container">
                <button (click)="editarBoton(item)" class="btn pl-3 pr-3 mx-2 btn-edit" data-bs-toggle="modal"
                        data-bs-target="#proyModal">
                       <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button (click)="eliminarBoton(item)" class="btn pl-3 btn-delete " data-bs-toggle="modal"
                       data-bs-target="#proyModal">
                      <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
              <div class="texto"> 
                    <h3> {{item.nombre}}  </h3>
                    <h4>  {{item.fecha}}</h4>
                    <h4> {{item.descripcion}} </h4>
                    <div><img [src]="item.url_imagen" alt=""></div>
                    <h4> Link al proyecto: <a [href]='item.url_proyecto'> Aqui</a></h4>
              </div>
            </li>
        </ul>
    </div>
    

</section>

<div class="modal fade" id="proyModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" *ngIf="showTituloAgregar" >Agregar</h5>
          <h5 class="modal-title text-primary" *ngIf="showTituloEditar" >Actualizar</h5>
          <h5 class="modal-title text-primary" *ngIf="showEliminar">Atención</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
  
        </div>
        <div class="modal-body" *ngIf=" showAgregar || showEditar">
          <form [formGroup]="formValueProy">
  
            <input type="hidden" name="id" formControlName="id">
            <div>
              <label for="nombre" class="form-label">Nombre del proyecto</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div>
              <label for="fecha" class="form-label">Fecha de creacion</label>
              <input type="text" class="form-control" id="fecha" formControlName="fecha">
            </div>
            <div>
              <label for="descripcion" class="form-label"> Descripcion </label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
            </div>
            <div>
              <label for="url_imagen" class="form-label"> URL_IMAGEN </label>
              <input type="text" class="form-control" id="url_imagen" formControlName="url_imagen">
            </div>
            <div>
              <label for="url_proyecto" class="form-label"> URL_PROYECTO </label>
              <input type="text" class="form-control" id="url_proyecto" formControlName="url_proyecto">
            </div>
  
          </form>
        </div>
        <div class="modal-body" *ngIf="showEliminar">
          ¿Esta seguro que desea eliminar el elemento seleccionado?
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" *ngIf="showAgregar" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarProy()">Guardar</button>
          <button type="submit" *ngIf="showEditar" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarProy()">Guardar</button>
          <button type="submit" *ngIf="showEliminar" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarProy()">Eliminar</button>
  
        </div>
      </div>
    </div>
   
  </div>