<section class="proyectos" id="proyectos">
    <h2> Proyectos</h2>
    <ul>
        <li> <div><h3>nombre proyecto</h3></div> <div> <h4>fecha y descripcion <a href=""></a></h4></div> <div><img src="" alt=""></div></li>
        <li> <div><h3>nombre proyecto</h3></div> <div> <h4>fecha y descripcion <a href=""></a></h4></div> <div><img src="" alt=""></div></li>
        <li> <div><h3>nombre proyecto</h3></div> <div> <h4>fecha y descripcion <a href=""></a></h4></div> <div><img src="" alt=""></div></li>
    </ul>

</section>